---
import { getProjectsForListing, projectsListingOrder } from '../../../data/projects';
import ProjectCard from '../../ui/ProjectCard.astro';
import SiteWrap from '../../ui/SiteWrap.astro';

const listingProjects = getProjectsForListing();
const spanBySlug = Object.fromEntries(
  projectsListingOrder.map(({ slug, gridSpan }) => [slug, gridSpan]),
);
---

<section aria-label="Listado de proyectos">
  <SiteWrap>
    <div class="projects-grid-v6" id="projects-grid">
      {
        listingProjects.map((project) => (
          <ProjectCard project={project} gridSpan={spanBySlug[project.slug]} />
        ))
      }
    </div>
  </SiteWrap>
</section>
