---
import Icon from './Icon.astro';
import type { IconName } from './icons/registry';

interface Props {
  name: IconName;
  class?: string;
}

const { name, class: cls = '' } = Astro.props;
---

<span class:list={['service-glass__icon', 'glass-icon', cls]} aria-hidden="true">
  <Icon name={name} />
</span>
