---
/** Fondo fijo al scroll: puntos interactivos + símbolo RimoByte */
---
<div id="site-bg-fixed" class="site-bg-fixed" aria-hidden="true">
  <canvas id="site-dots-canvas" class="site-bg-fixed__canvas"></canvas>
  <img
    src="/favicon.svg"
    alt=""
    width="512"
    height="512"
    class="site-bg-symbol"
    loading="eager"
    decoding="async"
  />
</div>
